body{
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 background:linear-gradient(45deg, #fbda61, #ff5acd) ;
}

::-webkit-scrollbar{
    width: 8px;
    
}

::-webkit-scrollbar-track{
    background: skyblue;
}

::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover
{
    background: skyblue;
   
}

.card{
    position: relative;
    width: 350px;
    height: 200px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.card:hover{
    height: 450px;
}
.imageBox{
    position: absolute;
    left:50%;
    top:-50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
}

.card:hover .imageBox {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.imageBox img{
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}